<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to HOOTEL-BOOKING, <%= @user.name %></h1>
    <p>
      You have successfully reserved a hotel room.
      Your hotel info are <%= @user.login %>.<br>
    </p>
    <p>

    </p>
    <p>Thanks for making a reservation!</p>
  </body>
</html>
