<div class="view index">
<%= render partial: 'messages/msg' %>

  <h1>Cities Visited</h1>

  <% if @cities.blank? %>
    <p>You haven't visited any cities yet<p>
  <% else %>
    <ul>
      <% @user.cities.distinct.each do |city| %>
        <li>
         <h5><%= link_to city.name, city_hotels_path(city.id) %></h5>
        </li><br>
      <% end %>
    </ul>
  <% end %>
</div>
    