<h2 style="color: #ffc800;"><%= hotel.name %></h2>
<p style="color: white;"><%= hotel.description  %></p>
<p style="color: #ffc800;">Address:<br>
<%= hotel.address %>
</p>
<p style="color: white;">Amenities:<br>
<%= hotel.amenities %>
</p>
